<link href="css/style.css" rel="stylesheet"/>
<footer>
		<div class="footer-wrap">
			<div class="first">
				<ul>
					<uh>Kontakt</uh>
					<address>
						<strong>Schätz GmbH</strong><br>
						Dachauer Straße 364<br>
						80993 München<br>
					</address>
				</ul>
			</div>
			<div class="second">
				<ul>
					<uh>Telefon</uh>
					<address>
						<strong>Telefon:</strong> 089 1498080<br>
						<strong>Fax:</strong> 089 14980899<br>
					</address>
				</ul>
			</div>
			<div class="third">
				<ul>
					<uh>Rechtliche Informationen</uh>
					<p>
						<a href="agb.html" target="_blank">AGB</a><br/>
					</p>
				</ul>
			</div>
			<div class="fourth">
				<ul>
					<uh>Seite</uh>
					<p>
						<a href="index.html">Startseite</a><br>
						<a href="products.html">Geräte</a><br>
						<a href="index.html#über-uns">Über Uns</a><br>
						<a href="contact.html">Kontakt</a><br/><br>
					</p>
				</ul>
			</div>
		</div>
	</footer>